$primary-color: #3292a6;
$primary-overlay: rgba(50,146,166,0.8);

body{padding-top: 105px;}

.navbar{
  box-shadow: 2px 2px 5px $primary-color;
  opacity: 0.9;
  background: #fff;

  .nav-item{
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

#showcase{
  background: url('../img/mountains.jpg');
  min-height: 600px;
  position: relative;

  .primary-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: $primary-overlay;
    width: 100%;
    height: 100%;
  }
}

.features-header{
  width: 50%;
  margin:auto;
  border-bottom: 1px solid #ddd;
}

#authors{
  .card{
    img{
      margin-top: -50px;
    }

    &:hover{
      background: $primary-color;
      color:#fff;
      i.fab{
        color:#fff;
      }
    }
  }
}

@media(max-width:768px){
  .mb-resp{
    margin-bottom: 1rem;
  }
  
  #showcase{
    min-height: 500px;

    h1{
      font-size: 4rem;
    }
  }
}